In [3]:
from datetime import datetime, timedelta

datetime.now() - timedelta(days=7)

datetime.datetime(2024, 3, 5, 15, 34, 18, 186847)

In [38]:
import pandas as pd
df = pd.read_csv("data/quarterly_canada_population.csv")

all_strings = [int(i.split()[1]) for i in list(df['Quarter'])]

In [43]:
countries_list = sorted(df.columns[2:].tolist())
countries_list.insert(0, "Canada")
countries_list

AttributeError: 'NoneType' object has no attribute 'insert'

In [31]:
a = df.columns[2:].tolist().sort()

In [80]:
start_quarter = "Q3"
start_year = "1991"
end_quarter = "Q1"
end_year = "2021"

start_row_name = start_quarter + " " + start_year
end_row_name = end_quarter + " " + end_year
end_row_name

'Q1 2021'

In [101]:
df.loc[10:20].set_index("Quarter")

,Canada,Newfoundland and Labrador,Prince Edward Island,Nova Scotia,New Brunswick,Quebec,Ontario,Manitoba,Saskatchewan,Alberta,British Columbia,Yukon,Northwest Territories,Nunavut
Quarter,,,,,,,,,,,,,,
Q1 1994,28835772,577128,132752,925852,749531,7177923,10744762,1119284,1007554,2683346,3623717,29670,40273,23980
Q2 1994,28907448,575670,133030,926109,749473,7184599,10776819,1120863,1008540,2691443,3646632,29682,40383,24205
Q3 1994,29000663,574466,133437,926871,750185,7192403,10819146,1123230,1009575,2700606,3676075,29684,40578,24407
Q4 1994,29096372,572068,133800,927778,750670,7201106,10860406,1124263,1010784,2709011,3711468,29606,40875,24537
Q1 1995,29141902,570563,134060,927395,750819,7205074,10875308,1124947,1011784,2715701,3730564,29882,41114,24691
Q2 1995,29211541,569068,134175,927641,750692,7210305,10906895,1127234,1012795,2724946,3751377,30143,41407,24863
Q3 1995,29302311,567397,134415,928120,750943,7219219,10950119,1129150,1014187,2734519,3777390,30442,41432,24978
Q4 1995,29396274,565008,134971,930028,751174,7228600,10993416,1129547,1015349,2745255,3805461,30875,41470,25120
Q1 1996,29446857,563679,135119,929782,751581,7232952,11009307,1130288,1016198,2753463,3826739,30963,41495,25291
Q2 1996,29514217,561646,135311,929921,751872,7237307,11037392,1132025,1017872,2762903,3849847,31142,41516,25463
Q3 1996,29610218,559698,135737,931327,752268,7246897,11082903,1134196,1018945,2775133,3874317,31387,41741,25669

In [105]:

def convert_to_datetime(data):
    from datetime import datetime

    datetime_list = []

    for quarter in data:
        quarter_number, year = quarter.split()
        if quarter_number == "Q1":
            month = 1
        elif quarter_number == 'Q2':
            month = 4
        elif quarter_number == 'Q3':
            month = 7
        elif quarter_number == 'Q4':
            month = 10
        else:
            raise ValueError("Invalid quarter format")
        
        date_string = f'{month}/01/{year}'
        datetime_list.append(datetime.strptime(date_string, "%m/%d/%Y"))
    return datetime_list

In [106]:
df

,Quarter,Canada,Newfoundland and Labrador,Prince Edward Island,Nova Scotia,New Brunswick,Quebec,Ontario,Manitoba,Saskatchewan,Alberta,British Columbia,Yukon,Northwest Territories,Nunavut
0,Q3 1991,28037420,579644,130369,914969,745567,7067396,10431316,1109604,1002713,2592306,3373787,28871,38724,22154
1,Q4 1991,28127327,579549,130360,916896,745886,7080336,10465562,1109400,1000942,2604031,3404049,29142,38854,22320
2,Q1 1992,28181477,579425,130604,917302,746571,7082645,10488022,1109978,1001136,2611786,3423217,29239,39055,22497
3,Q2 1992,28269699,579761,130812,917555,747232,7096705,10528346,1111050,1002831,2620771,3443237,29510,39230,22659
4,Q3 1992,28371264,580109,130827,919451,748121,7110010,10572205,1112689,1003995,2632672,3468802,30084,39416,22883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,Q1 2022,38516138,522501,166858,1002441,799245,8637650,14940912,1398303,1185311,4482385,5251578,43241,45710,40003
123,Q2 2022,38644920,523043,168358,1007360,802862,8650692,14996014,1401967,1188338,4502858,5273809,43518,45698,40403
124,Q3 2022,38929902,525972,170688,1019725,812061,8695659,15109416,1409223,1194803,4543111,5319324,43789,45605,40526
125,Q4 2022,39292355,528818,172707,1030953,820786,8751352,15262660,1420228,1205119,4601314,5368266,43964,45602,40586
126,Q1 2023,39566248,531948,173954,1037782,825474,8787554,15386407,1431792,1214618,4647178,5399118,44238,45493,40692

In [107]:
df['time'] = convert_to_datetime(df['Quarter'])

In [110]:
df.head(10)

,Quarter,Canada,Newfoundland and Labrador,Prince Edward Island,Nova Scotia,New Brunswick,Quebec,Ontario,Manitoba,Saskatchewan,Alberta,British Columbia,Yukon,Northwest Territories,Nunavut,time
0,Q3 1991,28037420,579644,130369,914969,745567,7067396,10431316,1109604,1002713,2592306,3373787,28871,38724,22154,1991-07-01
1,Q4 1991,28127327,579549,130360,916896,745886,7080336,10465562,1109400,1000942,2604031,3404049,29142,38854,22320,1991-10-01
2,Q1 1992,28181477,579425,130604,917302,746571,7082645,10488022,1109978,1001136,2611786,3423217,29239,39055,22497,1992-01-01
3,Q2 1992,28269699,579761,130812,917555,747232,7096705,10528346,1111050,1002831,2620771,3443237,29510,39230,22659,1992-04-01
4,Q3 1992,28371264,580109,130827,919451,748121,7110010,10572205,1112689,1003995,2632672,3468802,30084,39416,22883,1992-07-01
5,Q4 1992,28474177,579624,131201,921619,747746,7129062,10610665,1113209,1002960,2643421,3502209,30034,39422,23005,1992-10-01
6,Q1 1993,28533602,580819,131564,922128,747892,7137514,10629994,1114180,1003443,2650886,3522509,29964,39538,23171,1993-01-01
7,Q2 1993,28600864,580369,131833,922469,748320,7147047,10656924,1115554,1005037,2658293,3541936,30112,39649,23321,1993-04-01
8,Q3 1993,28684764,579977,132177,923925,748812,7156537,10690038,1117618,1006900,2667292,3567772,30337,39820,23559,1993-07-01
9,Q4 1993,28786619,578194,132467,925851,749454,7172016,10728737,1118603,1007016,2678623,3601746,30016,40095,23801,1993-10-01

In [1]:
import numpy as np

In [5]:
from itertools import zip_longest, cycle

a = ['a', 'b', 'c']
b = [1, 2, 3, 4, 5, 6]

for i in zip(cycle(a), b):
    print(i)

('a', 1)
('b', 2)
('c', 3)
('a', 4)
('b', 5)
('c', 6)

In [7]:
df

NameError: name 'df' is not defined

In [8]:

features_vocab = {
    "odor": {"a": "almond",
             "l": "anisel",
             "c": "creosote",
             "y": 'fishy', 
             'f': 'foul', 
             'm': 'musty',
             'n': 'none',
             'p': 'pungent',
             's': 'spicy'},
    "stalk-surface-above-ring": {'f': 'fibrous', 
                                 'y': 'scaly',
                                 'k': 'silky',
                                 's': 'smooth'},
    "stalk-color-below-ring": {'n': 'brown', 
                               'b': 'buff', 
                               'c': 'cinnamon', 
                               'g': 'gray', 
                               'o': 'orange', 
                               'p': 'pink', 
                               'e': 'red', 
                               'w': 'white', 
                               'y': 'yellow'},
    "gill-size" : {'b': 'broad', 
                   'n': 'narrow'},
    "stalk-surface-below-ring": {'f': 'fibrous', 
                                 'y': 'scaly', 
                                 'k': 'silky', 
                                 's': 'smooth'},
    "ring-type": {'e': 'evanescente', 
                  'f': 'flaring', 
                  'l': 'large', 
                  'n': 'none', 
                  'p': 'pendant', 
                  's': 'sheathing', 
                  'z': 'zone'},
    "gill-color": {'k': 'black', 
                   'n': 'brown', 
                   'b': 'buff', 
                   'h': 'chocolate', 
                   'g': 'gray', 
                   'r': 'green', 
                   'o': 'orange', 
                   'p': 'pink', 
                   'u': 'purple', 
                   'e': 'red', 
                   'w': 'white', 
                   'y': 'yellow'},
    "stalk-color-above-ring": {'n': 'brown', 
                               'b': 'buff', 
                               'c': 'cinnamon', 
                               'g': 'gray', 
                               'o': 'orange', 
                               'p': 'pink', 
                               'e': 'red', 
                               'w': 'white', 
                               'y': 'yellow'},
    "spore-print-color": {'k': 'black', 
                          'n': 'brown', 
                          'b': 'buff', 
                          'h': 'chocolate', 
                          'r': 'green', 
                          'o': 'orange',
                          'u': 'purple', 
                          'w': 'white',
                          'y': 'yellow'}
}


def update_features_vocab(features_vocab):
    reversed_features_vocab = {}
    for k, v in features_vocab.items():
        features_vocab[k] = dict(sorted(v.items()))
        reversed_features_vocab[k] = {value: key for key, value in v.items()}

    return features_vocab, reversed_features_vocab

In [9]:
features_vocab, reversed_features_vocab = update_features_vocab(features_vocab)

In [16]:
from sklearn.datasets import load_wine
import pandas as pd

data = load_wine(as_frame=True)
df = pd.DataFrame(data.data, columns = data.feature_names)
df['target'] = data.target
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [35]:
from sklearn.dummy import DummyClassifier
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, mutual_info_classif

X = df.drop("target", axis=1)
y = df['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

selector = SelectKBest(mutual_info_classif, k=3)
selector.fit(X_train, y_train)

sel_X_train = selector.transform(X_train)
sel_X_test = selector.transform(X_test)

In [38]:
dummy_clf = DummyClassifier(strategy='most_frequent')
dummy_clf.fit(sel_X_train, y_train)

DummyClassifier(strategy='most_frequent')

In [39]:
dummy_clf.predict(X_test)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])