In [110]:
import pandas as pd
from statsforecast.models import CrostonOptimized
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

def convert_dates(date):
    return datetime.strptime(date, '%Y-%m-%d') + relativedelta(months=100)

df = pd.read_csv('test.csv')
df['date'] = df['date'].apply(convert_dates)

df.head(3)

   Unnamed: 0  id  parts_id       date  volume
0           0   1      2674 2006-05-01       0
1           1   2      2674 2006-06-01       0
2           2   3      2674 2006-07-01       0

In [106]:
type(df['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [111]:
df['date'].values[-3:][-1] + relativedelta(months=4)

UFuncTypeError: ufunc 'add' cannot use operands with types dtype('<M8[ns]') and dtype('O')